.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.yup {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/*
  header - body - footer 
  THESE SHOULD ADD UP TO 100% 
*/

.header {
  height: 7%;
}

.body {
  height: 86%;
}

.footer {
  height: 7%;
}

.row-space-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-field {
  float: right;
}

.red-border {
  border: red 1px solid;
}

/* USER */

.user-form {
  width: 50%;
  height: 50%;
  padding: 10px;
  margin: 30px;
  align-items: center;
}

.user-form-fields {
  height: 300px;
  width: 70%;
  padding: 15px;
}

.create-account-banner {
  width: 50%;
  height: 50%;
  padding: 10px;
  margin: 30px;
  align-items: center;
}

.user-card {
  width: 50%;
  display: flex;
}

.align-items-center {
  align-items: center;
}
